{% set purchasable = line.purchasable %}
{% set purchasable = purchasable.article ?: purchasable %}
{% set purchasableRouteName = purchasable.articles ? 'store_purchasable_pack_view' : 'store_article_view' %}
{% set purchasableRoute = url(purchasableRouteName, { slug: purchasable.slug, id: purchasable.id }) %}
{% set articleName = purchasable|purchasable_name %}
{% set validImage = purchasable|print_side_preview_image('front') %}

<dl class="{{ class|default('cart-item') }}">
    <dt class="cart-item-image">{{ 'template.store_template_bundle.order.item.image'|trans }}</dt>
    <dd class="cart-item-image">
        <a href="{{ articleRoute }}">
            <img src="{{ validImage ? validImage|combine({
                width: 150,
                height: 150,
                type: 5 }) : '//placehold.it/150x150'
            }}" alt="{{ article.name }}" class="article-thumbnail" />
        </a>
    </dd>
    <dt class="cart-item-name">{{ 'template.store_template_bundle.order.item.item'|trans }}</dt>
    <dd class="cart-item-name"><a href="{{ purchasableRoute }}" class="article-title">{{ articleName }}</a></dd>
    <dt class="cart-item-units">{{ 'template.store_template_bundle.order.item.units'|trans }}</dt>
    <dd class="cart-item-units">{{ line.quantity }}</dd>
    <dt class="cart-item-price">{{ 'template.store_template_bundle.order.item.price'|trans }}</dt>
    <dd class="cart-item-price">{{ line.purchasableAmount|print_convert_money() }}</dd>
    <dt class="cart-item-total">{{ 'template.store_template_bundle.order.item.total'|trans }}</dt>
    <dd class="cart-item-total">{{ line.amount|print_convert_money() }}</dd>
</dl>
