{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'product',
} %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block content %}

    {% set formAction =
        product.id
            ? url('admin_product_update', { id: product.id })
            : url('admin_product_save')
     %}


    {{ form_start(form, { action: formAction }) }}
        <fieldset>
            {{ elcodi_hook("admin.product_top", {
                'product': product
            }) }}
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.product.section.basic.title'|trans }}</h3>
                        <p>{{ 'admin.product.section.basic.description'|trans }}</p>
                        {% if elcodi_languages|length > 1 %}
                            <p><i class="icon-star"></i> = {{ 'ui.language.master_language'|trans }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-2-3">
                    <div {% if elcodi_languages|length > 1 %}data-fc-modules="tabs" class="tabs-box loading" {% endif %}>
                        {% for language in elcodi_languages %}
                        <section id="tab-{{ language }}" data-fc-name="{% if loop.first %}{{ '<i class="icon-star"></i>'|e }} {% endif %}{{ language|capitalize }}">
                            <div class="box">
                                <ol>
                                    <li>
                                        {{
                                            form_row(form.name["#{language}_name"], {
                                                label: 'admin.product.field.name.title',
                                                attr: {
                                                    placeholder: 'admin.product.field.name.placeholder',
                                                }
                                            })
                                        }}
                                        <div class="pt-m">
                                            {{
                                                form_row(form.slug["#{language}_slug"], {
                                                    label: false,
                                                    attr: {
                                                        placeholder: 'admin.product.field.slug.placeholder',
                                                        'data-fc-modules': 'slug',
                                                        'data-fc-parent': form.name["#{language}_name"].vars.id,
                                                        'pattern' : '^[a-z0-9-]+$'
                                                    }
                                                })
                                            }}
                                        </div>
                                    </li>
                                    <li>
                                        {{
                                            form_row(form.description["#{language}_description"], {
                                                label: 'admin.article.field.description.title',
                                                attr: {
                                                    placeholder: 'admin.article.field.description.placeholder',
                                                    'data-fc-modules': 'wysiwyg',
                                                    'data-fc-fullscreen': 'false',
                                                    'data-fc-text-html': 'admin.UI.show_code'|trans,
                                                    'data-fc-text-visual': 'admin.UI.show_visual'|trans,
                                                    'data-fc-text-help': 'ui.editor.help'|trans,
                                                }
                                            })
                                        }}
                                    </li>
                                </ol>
                            </div>
                        </section>
                        {% endfor %}
                        </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.product.section.pricing.title'|trans }}</h3>
                        <p>{{ 'admin.product.section.pricing.description'|trans }}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box pb-n">
                        <ol class="grid">
                            <li class="col-1-2">
                                {{
                                    form_row(form.prices, {
                                        label: 'admin.article.field.price.title',
                                    })
                                }}
                            </li>
                            <li class="col-1-2">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            
            {% include '@AdminMedia/Module/_images-form-field.html.twig' with {
                images: product.getSortedImages,
                redirect_path: product.id
                    ? path('admin_product_edit', { id: product.id })
                    : path('admin_product_new')
            } %}
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.article.section.categorization.title'|trans }}</h3>
                        <p>{{ 'admin.article.section.categorization.description'|trans }}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box">
                        <ol class="grid">
                            <li class="col-1-2 pb-n">
                                {#
                                <div class="pr-l">
                                    {{
                                        form_row(form.principalCategory, {
                                            label: 'admin.article.field.main_category.title',
                                            label_help: 'admin.article.field.main_category.placeholder'|trans,
                                        })
                                    }}
                                    <p class="pt-s fz-default mb-n ta-r">
                                        <a href="{{ url('admin_category_new') }}" data-fc-modules="window-content">
                                            <i class="icon-plus"></i>
                                            {{ 'admin.category.new'|trans }}
                                        </a>
                                    </p>
                                </div>
                                #}
                            </li>
                            <li class="col-1-2 pb-n">
                                {{
                                    form_row(form.product_manufacturer, {
                                        label: 'admin.article.field.manufacturer.title',
                                        label_help: 'admin.article.field.manufacturer.placeholder'|trans,
                                    })
                                }}
                                <p class="pt-s fz-default mb-n ta-r">
                                    <a href="{{ url('admin_manufacturer_new') }}" data-fc-modules="window-content">
                                        <i class="icon-plus"></i>
                                        {{ 'admin.manufacturer.new'|trans }}
                                    </a>
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.product.sizes'|trans }}</h3>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box">
                        {{
                            form_row(form.productSizes, {
                                label: 'admin.product.sizes',
                            })
                        }}
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none">
                        <h3 class="fw-n">{{ 'admin.product.colors'|trans }}</h3>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box">
                        {{
                            form_row(form.productColors, {
                                label: 'admin.product.colors',
                            })
                        }}
                    </div>
                </div>
            </div>    
            <div class="ph-n pt-m mb-n">
                <div class="box-background pv-s mb-n">
                    <a data-fc-modules="toggle" href="#variants-edit"><i class="icon-plus-circle"></i> {{ 'admin.product.section.variants.title'|trans }}</a>
                </div>
                <div id="variants-edit" class="grid pt-s {% if not product.hasVariants() %}hidden{% endif %}">
                    <div class="col-1-3">
                        <div class="box-none">
                            <h3 class="fw-n">{{ 'admin.product.section.variants.title'|trans }}</h3>
                            <p>{{ 'admin.product.section.variants.description'|trans }}</p>                            
                        </div>
                    </div>  
                    {% if product.id %}
                        <div class="col-2-3" data-fc-modules="variants">
                            <div class="box" id="variants-list">
                                <table>
                                    <tr>
                                        <td>Size</td>
                                        {% for color in product.colors %}
                                            <td>{{ color.color.name }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% for product_size in product.sizes %}
                                        <tr>
                                            <td>{{ product_size.size.name }}</td>
                                            {% for color in product.colors %}
                                                <td>                                                
                                                    {% if product.variants[product_size.size.id][color.color.id] %}
                                                        yes
                                                    {% else %}
                                                        no
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="ph-n pt-m mb-n">
                <div class="box-background pv-s mb-n">
                    <a data-fc-modules="toggle" href="#dimensions-edit"><i class="icon-plus-circle"></i> {{ 'admin.article.section.dimensions.title'|trans }} </a>
                </div>
                <div id="dimensions-edit" class="hidden">
                    <div class="grid pt-s">
                        <div class="col-1-3">
                            <div class="box-none">
                                <h3 class="fw-n">{{ 'admin.article.section.dimensions.title'|trans }}</h3>
                                <p>{{ 'admin.article.section.dimensions.description'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-2-3">
                            <div class="box pb-n">
                                <ol class="grid">
                                    <li class="col-1-3">
                                        <div class="pr-l">
                                            {{
                                            form_row(form.width, {
                                                label: 'admin.article.field.width.title',
                                            })
                                        }}
                                        </div>
                                    </li>
                                    <li class="col-1-3">
                                        <div class="pr-l">
                                        {{
                                            form_row(form.height, {
                                                label: 'admin.article.field.height.title',
                                            })
                                        }}
                                        </div>
                                    </li>
                                    <li class="col-1-3">
                                        {{
                                        form_row(form.weight, {
                                            label: 'admin.article.field.weight.title',
                                        })
                                        }}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="grid">
                <div class="col-1-3">
                    <div class="box-none mb-n pb-m">
                        <h3 class="fw-n">{{ 'admin.product.section.visibility.title'|trans }}</h3>
                        <p>{{ 'admin.product.section.visibility.description'|trans }}</p>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="box mb-n pb-n">
                        <ol class="grid pt-m">
                            <li class="col-1-1">
                                {{
                                    form_row(form.enabled, {
                                        label: 'admin.product.field.enabled.title',
                                    })
                                }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="grid fixed-bottom animated fade-in-up">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button id="submit-save" type="submit" class="button-primary button-fat pv-s mr-l">{{ 'ui.forms.save'|trans }}</button>
                <a href="{{ path('admin_product_list') }}">{{ 'ui.forms.cancel'|trans }}</a>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock content %}
