{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'product'
} %}


{% block title 'admin.product.list'|trans %}


{% block no_items
    lists.no_items(
        'admin.product.single'|trans,
        'admin.product.plural'|trans,
        url('admin_product_new')
    )
%}


{% block table_head %}


    {% set stockClass = 'ta-r' %}
    {% if not store.useStock %}
        {% set stockClass = 'd-n ta-r' %}
    {% endif %}

    {% include '@AdminCore/Tables/head.html.twig' with {
        rows: [
            { name: 'admin.product.field.image.title'|trans, width: 10 },
            { name: 'admin.product.field.name_details.title'|trans },
        ],
        class: 'product',
    } %}

{% endblock table_head %}


{% block table_body_row %}

    <td data-test="product-{{ entity.id }}">
        {% if entity.images|length > 0 %}
            <a href="{{ url('admin_product_edit', { id: entity.id }) }}" class="thumbnail">
                <img src="{{ entity.getSortedImages.first|resize({ height: 100, width: 100, type: 5 }) }}" />
            </a>
        {% endif %}
    </td>
    <td>
        <a href="{{ url('admin_product_edit', { id: entity.id }) }}">
            <strong>{{ entity.name }}</strong>
        </a>
        
        {% if entity.enabled %}
            <span class="label-ok fz-xs">{{ 'admin.product.field.enabled.options.active'|trans }}</span>
        {% else %}
            <span class="label fz-xs">{{ 'admin.product.field.enabled.options.inactive'|trans }}</span>
        {% endif %}

        {% if entity.principalCategory is null %}
            <span class="label label-ko fz-xs">
                <i class="icon-warning mr-s"></i>
                {{'admin.product.tag.no_category'|trans}}
            </span>
        {% endif %}
    </td>
    {% include '@AdminCore/Tables/actions.html.twig' with {
        entity: entity,
        class: 'product',
    } %}

{% endblock table_body_row %}


{% block table_paginator_links %}

    {% set url = 'admin_product_list' %}
    {{ parent() }}

{% endblock table_paginator_links %}
