<section id="tab-design" data-fc-name="design">
	<div class="box">
		
		{% if article.articleProduct.articleProductPrintSides|length > 0 %} 								
			
			{% for articleProductPrintSide in form.articleProduct.articleProductPrintSides %}
				
				{% if articleProductPrintSide.vars.value.enabled is not sameas(false) %}											
					<div 
						class="printable-variants" 
						data-prototype="{{
							include(
								'@AdminArticleBundle/Resources/views/PrintableVaraint/designPrintableVariant.html.twig', 
								{'form': articleProductPrintSide.designPrintableVariants.vars.prototype })|e 
						}}"
					>
						
						<h4>{{ articleProductPrintSide.vars.value.printSide.type.name }}</h4>
						
						{% for designPrintableVariant in articleProductPrintSide.designPrintableVariants %}
							{{  include(
									'@AdminArticleBundle/Resources/views/PrintableVaraint/designPrintableVariant.html.twig', 
									{'form': designPrintableVariant})
							}}
						{% endfor %}
						
						<br/>
						<a href="#" class="add-printable-variant button">Add a design</a>													
						<hr>
					</div>
						
				{% endif %}
				
			{% endfor %}
			
		{% endif %}
		
	</div>
</section>
		
<section id="tab-text" data-fc-name="text">
	<div class="box">
		
		{% if article.articleProduct.articleProductPrintSides|length > 0 %} 	
			
			{% for articleProductPrintSide in form.articleProduct.articleProductPrintSides %}
				
				{% if articleProductPrintSide.vars.value.enabled is not sameas(false) %}
					
					<div 
						class="printable-variants" 
						data-prototype="{{ 
							include(
								'@AdminArticleBundle/Resources/views/PrintableVaraint/textPrintableVariant.html.twig', 
								{'form': articleProductPrintSide.textPrintableVariants.vars.prototype })|e 
							}}"
					>
						<h4>{{ articleProductPrintSide.vars.value.printSide.type.name }}</h4>
						
						{% for textPrintableVariant in articleProductPrintSide.textPrintableVariants %}
							{{ 
								include(
									'@AdminArticleBundle/Resources/views/PrintableVaraint/textPrintableVariant.html.twig', 
									{'form': textPrintableVariant})
							}}
						{% endfor %}
						
						<br/>
						<a href="#" class="add-printable-variant button">Add a text</a>
						<hr>
					</div>
						
				{% endif %}
				
			{% endfor %}
			
		{% endif %}
		
	</div>
</section>
