{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}


{% set elcodi_context = {
    entity_type: 'product',
} %}


{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}


{% block content %}

    {% set formAction = url('admin_print_side_update', { id: product.id }) %}

    {{ form_start(form, { action: formAction }) }}
        <fieldset>
            {{ elcodi_hook("admin.product_top", {
                'product': product
            }) }}
            <div class="grid">
                <ul class="print-sides">
                    {% for side in form.printSides %}
                        <li>
                            {{
                                form_row(side.enabled, {
                                    label: 'enabled'
                                })
                            }}
                        </li>
                    {% endfor %}
                </ul> 
            </div>
        </fieldset>
        <div class="grid fixed-bottom animated fade-in-up">
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button id="submit-save" type="submit" class="button-primary button-fat pv-s mr-l">{{ 'ui.forms.save'|trans }}</button>
                <a href="{{ path('admin_product_list') }}">{{ 'ui.forms.cancel'|trans }}</a>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock content %}
